<!-- Skills Section -->
<section id="skills" class="skills-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Skills</h2>

    <div class="row">
      <div class="col-md-6">
        <div class="skill-progress" *ngFor="let skill of skills1 | keyvalue">
          <div class="skill-title">
            <h3>{{ skill.key }}</h3>
          </div>
          <div class="progress">
            <div
              class="progress-bar six-sec-ease-in-out"
              role="progressbar"
              [style.width.%]="skill.value"
              [attr.aria-valuenow]="skill.value"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>{{ skill.value }}%</span>
            </div>
          </div>
          <!-- /.progress -->
        </div>
        <!-- /.skill-progress -->
      </div>
      <!-- /.col-md-6 -->

      <div class="col-md-6">
        <div class="skill-progress" *ngFor="let skill of skills2 | keyvalue">
          <div class="skill-title">
            <h3>{{ skill.key }}</h3>
          </div>
          <div class="progress">
            <div
              class="progress-bar six-sec-ease-in-out"
              role="progressbar"
              [attr.aria-valuenow]="skill.value"
              [style.width.%]="skill.value"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>{{ skill.value }}%</span>
            </div>
          </div>
          <!-- /.progress -->
        </div>
        <!-- /.skill-progress -->
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->

    <div class="skill-chart text-center">
      <h3>More skills</h3>
    </div>

    <div class="row more-skill text-center">
      <div class="col-xs-12 col-sm-4 col-md-2" *ngFor="let skill of moreSkills | keyvalue">
        <div class="chart">
          <div class="circular">
            <div class="inner"></div>
            <div class="number">{{skill.value}} %</div>
            <div class="circle">
               <div class="bar left">
                  <div class="progress"></div>
               </div>
               <div class="bar right {{'r-' + skill.value}}">
                  <div class="progress"></div>
               </div>
             </div>
          </div>

          <div class="text-center">
            <h3>{{ skill.key }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- End Skills Section -->
