/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* SECTION TITLE
----------------------------------------------------- */
.section-title {
  margin-top: 1rem;
  margin-bottom: 80px;
  text-align: center;
  font-size: 50px;
  line-height: 50px;
  color: #2c3e50;
  position: relative;
}

.section-title::after {
  content: "";
  background: url(/assets/images/section-divider.avif) no-repeat 0 0;
  height: 15px;
  width: 113px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  margin: 0 auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
