<!-- Home Section -->
<section
  id="home"
  class="tt-fullHeight"
  [style.height]="'100vh'"
>
  <div class="intro">
    <div class="intro-sub">I am</div>
    <h1>Sylvester <span>Das</span></h1>
    <p>
      I am a professional full stack web and application developer <br />
      Involving with latest web and mobile technologies is a great <br />
      feel free to contact creative.
    </p>
    <div class="social-icons">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a target="_blank" href="https://www.facebook.com/sylvester.das"
            ><fa-icon [icon]="faFacebook"></fa-icon
          ></a>
        </li>
        <li class="list-inline-item">
          <a target="_blank" href="https://twitter.com/achillies_"
            ><fa-icon [icon]="faTwitter"></fa-icon
          ></a>
        </li>
        <li class="list-inline-item">
          <a target="_blank" href="https://www.instagram.com/achillies_"
            ><fa-icon [icon]="faInstagram"></fa-icon
          ></a>
        </li>
        <li class="list-inline-item">
          <a target="_blank" href="https://www.linkedin.com/in/sylvesterdas/"
            ><fa-icon [icon]="faLinkedinIn"></fa-icon
          ></a>
        </li>
      </ul>
    </div>
    <!-- /.social-icons -->
  </div>

  <div class="mouse-icon">
    <div class="wheel"></div>
  </div>
</section>
<!-- End Home Section -->
