<!-- Home Section -->
<section
  id="home"
  class="tt-fullHeight"
  [style.height]="'100vh'"
>
  <div class="intro">
    <div class="intro-sub">I am</div>
    <h1>Sylvester <span>Das</span></h1>
    <p>
      I am a professional full stack web and application developer <br />
      Involving with latest web and mobile technologies is a great <br />
      feel free to contact creative.
    </p>
    <div class="social-icons">
      <ul class="list-inline">
        <li *ngFor="let social of socialIcons" class="list-inline-item">
          <a rel="noopener" target="_blank" [href]="social.href"
            ><fa-icon [icon]="social.icon"></fa-icon
          ></a>
        </li>
      </ul>
    </div>
    <!-- /.social-icons -->
  </div>

  <div class="mouse-icon">
    <div class="wheel"></div>
  </div>
</section>
<!-- End Home Section -->
