/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#tt-preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#pre-status,
.preload-placeholder {
	background-image: url(/assets/images/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}

.preload-placeholder {
	background: none;
	left: 0;
	margin: 0;
	text-align: center;
	top: 65%;
}



/* ---------------------------------------------- /*
 * Scroll to top
/* ---------------------------------------------- */

.scroll-up {
  position: fixed;
  z-index: 999;
  bottom: 1.8em;
  right: 1.8em;
}

.scroll-up a {
  background-color: #68c3a3;
  display: block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
}

.scroll-up a:hover,
.scroll-up a:active {
  background-color: rgba(235, 235, 235, 0.8);
  color: #222;
}
